/*Estilos en Comun para toda la web*/

.bg-gris{
    background-color: #f7f7f9;
}

.bd-title {    
    font-weight: 300;
    font-size: 2.5rem;
}

.subtitle {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #8C111B;
    font-weight: 500;
}

.link {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #8C111B;
    font-weight: 500;
    font-size: 0.8rem;
}

.badge-ref {
    color: #fff;
    background-color: #F20505;
}

.btn-outline-card {
    color: #F20505;
    border-color: #F20505;
}

.btn-outline-card:focus, .btn-outline-card:hover {
    color: #fff;
    background-color: #BF1725;
}

.btn-outline-find {
    color: #BF1725;
    border-color: #BF1725;
}

.btn-outline-find:focus, .btn-outline-find:hover {
    color: #fff;
    background-color: #BF1725;
}

.pro-price {
    margin-top: 5px;
    font-size: 15px;
    line-height: 24px;
    color: #777;
}

.current-price {
    color: #232323;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
}

.min-height-card{
    min-height: 75px;
}

.bg-optolan{
    background-color: #BF1725;
    color: #fff;
}

/*FIN Estilos en Comun para toda la web*/



/*Estilos Cabecera superior*/
.borde-inferior{
	border-bottom: solid 1px #adb5bd;
}

.redes-sociales {
    padding: .5rem 1rem;
    display: inline-block;
}

.fa-facebook, .fa-facebook-square {
    color: #3b5998;
    font-size: 20px;
}
.fa-youtube, .fa-youtube-play, .fa-youtube-square {
    color: #bb0000;
    font-size: 20px;
}
.fa-linkedin, .fa-linkedin-square {
    color: #007bb6;
    font-size: 20px;
}
.fa-instagram {
    color: #517fa4;
    font-size: 20px;
}

/*Estilos Menu principal*/

.logo{
	width: 180px;
} 

.navbar-light .navbar-nav .nav-link {
    color: #636262;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
    font-weight: 500;
    font-size: 17px;
}

.c2-optolan{
	color: #BF1725;
}

@media (min-width: 576px) { 
	
	.logo{
		width: 220px;
	} 
	
}



/**/

.card-imagen{
    height: 160px;
    width: 100%;
    position: relative;
}

.card-imagen img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}


/*Estilos Footer*/

footer.page-footer .footer-copyright {
    color: rgba(255,255,255,.6);
}

footer.page-footer a {
    color: #fff;
}
/*Fin Estilos Footer*/